<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('header.ejs') %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4"><%= data.h %></h1>
          <p class="lead"><%= data.text %></p>
        </div>
      </div>
</body>
</html>